/* App.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 250px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #3498db;
}

button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

button.logout {
  background-color: #e74c3c;
}



label {
  margin-bottom: 10px;
}

input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}

.login:hover {
  background-color: #45a049;
}

.logout {
  margin-top: 20px;
}

/* Center Google Login button */
.google-login-container {
  display: flex;
  justify-content: center;
}

/* Add more styling as needed */
